<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>TTL</th>
      <th>JK</th>
      <th>Pendidikan</th>
      <th>Jurusan</th>
      <th>Program</th>
      <th>Foto</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i < data.length; i++){ %>
      <tr>
        <td>
          <%= i + 1 %>
        </td>
        <td>
          <%= data[i].pekerjaan.deskripsiPekerjaan %>
        </td>
        <td>
          <%= data[i].tempat %>,
            <%= data[i].tanggallahir %>
        </td>
        <td>
          <%= data[i].jk %>
        </td>
        <td>
          <%= data[i].pendidikan %>
        </td>
        <td>
          <%= data[i].jurusan %>
        </td>
        <td>
          <%= data[i].pekerjaan.pekerjaan %>
        </td>
        <td>Foto</td>
        <td>panding</td>
        <td>
          <form style="display: inline-block" action="/kandidat/delete/<%= data[i]._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>