<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Pekerjaan</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/pekerjaan">Pekerjaan</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Form Edit Pekerjaan</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form
              action="/pekerjaan/edit/<%= data._id %>?_method=PUT"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Pekerjaan</label>
                  <input
                    type="text"
                    name="pekerjaan"
                    class="form-control"
                    id="name"
                    placeholder="Masukan Pekerjaan"
                    required
                    value="<%=data.pekerjaan%>"
                  />
                </div>
                <div class="form-group">
                  <label for="textarea-ckeditor">Deskripsi Pekerjaan</label>
                  <textarea
                    id="textarea-ckeditor"
                    name="deskripsiPekerjaan"
                    class="ckeditor form-control"
                    rows="5"
                  >
<%= data.deskripsiPekerjaan %></textarea
                  >
                </div>
                <div class="form-group">
                  <label for="name">File Banner</label>
                  <input
                    type="file"
                    name="image"
                    class="form-control p-1"
                    id="image"
                    placeholder="Masukan Image"
                  />
                  <br />
                  <img
                    src="http://localhost:3000/uploads/banner-pekerjaan/<%=data.thumbnial %>"
                    id="perview"
                  />
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        $("#perview").attr("src", e.target.result);
        $("#perview").attr("width", "20%");
        $("#perview").attr("height", "20%");
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#image").change(function () {
    readURL(this);
  });
</script>
